.container {
    margin-top: 3%;

    .row {
        .forecast {
            .top-side {
                display: flex;

                .typeSelect {
                    margin: 0 1%;
                }
            }

            .forecast-info {
                ul {
                    list-style-type: none;
                    padding-left: 0px;
                    margin-top: 1%;

                }

                .error{
                    display: none;
                    margin-top: 1%;
                    color: red;
                    font-size: x-large;
                }
            }
        }
    }
}